---
import MediaPanel from "@components/MediaPanel.astro";
import MediaTabs from "@components/MediaTabs.astro";
import type { ClientMediaItem, MediaTab, MediaTabKey } from "@lib/media";
import { DEFAULT_MEDIA_TAB, MEDIA_PAGE_SIZE } from "@lib/media";

interface Props {
    tabs: MediaTab[];
    defaultItems: ClientMediaItem[];
    serializedItemsByTab: string;
    defaultTab?: MediaTabKey;
}

const { tabs, defaultItems, serializedItemsByTab, defaultTab = DEFAULT_MEDIA_TAB } = Astro.props;
---

<div class="space-y-10">
    <div class="animate space-y-2"><MediaTabs tabs={tabs} defaultTab={defaultTab} /></div>

    {tabs.map((tab) => (
        <MediaPanel
            tab={tab}
            defaultTab={defaultTab}
            initialItems={tab.key === defaultTab ? defaultItems : []}
        />
    ))}
</div>

<script
    id="media-data"
    type="application/json"
    data-page-size={MEDIA_PAGE_SIZE}
    is:inline
    set:html={serializedItemsByTab}
></script>

<script>
import "../scripts/media-tabs";
</script>
